body {
    background-image: url(../fotos/orange.jpg);
}
.inline {
    display: inline-block;
}
h1 {
    text-align: center;
    color: #BF4400;
    font-size: 50px;
}
p {
    color: #290F00;
    font-size: 17px;
}
.margin {
    margin-top: 30px;
}
h2, h5 {
	margin: 32px 20px 0 0;
    font-size: 30px;
    color: #993700;
}
#seleccion {
    height: 30px;
    background: rgba(255, 144, 31, 0.41);
    border: 2px solid #FF5B00;
    color: #963600;
}
.boton{
	display: block !important;
    margin: 15px 0;
    background: #DE4F00;
    padding: 5px;
    color: white;
    font-size: 16px;
    border: 1px solid #FF5B00;
    border-radius: 3px;
}
.form-group, .form-control {
	width: 80% !important;
}
.form-control {
    border: 2px solid rgba(255, 91, 0, 0.52);
    box-shadow: 4px 5px 3px rgba(193, 87, 28, 0.4);
}
img {
    border: 4px solid #C74700;
    border-radius: 20px;
}